.FilterBar {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.FilterBar .filter-btns :first-child {
    border-radius: 12px 0px 0px 12px;
}

.FilterBar .filter-btns :last-child {
    border-radius: 0px 12px 12px 0px;
}

.FilterBar .filter-btns {
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 2px 6px 0px rgba(253, 103, 106, 0.30);
    display: flex;
}

.FilterBar .filter-btns > .active {
    background: #88C8BC;
    color: #FFFCE4;
    
}



.FilterBar button {

    width: 70px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    background: #FFFCE4;
    border: none;

    color: #88C8BC;
    font-family: Roboto Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
}

.FilterBar .separator {
    display: inline-block;
    width: 1px;
    background-color: #F4EEB7;
}