.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home .home-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-width: 680px;
}

.Home h2 {
    font-family: 'Shrikhand', serif;
    color: #FD676A;
    text-align: center;
    font-family: Shrikhand;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: -10px;
    margin-top: 10px;
    max-width: 400px;
}

.Home p {
    color: #9D3B3B;
    text-align: center;
    font-size: 1.625rem;
    font-style: normal;
    line-height: 2.125rem;
    max-width: 420px;
}

.Home .main-btn {
    border-radius: 3.75rem;
    background: #88C8BC;
    box-shadow: 0px 5px 12px 0px rgba(253, 103, 106, 0.50);
    border: none;
    display: inline-flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;
    color: #FFFAD9;
    text-align: center;
    font-family: Shrikhand;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem;
    letter-spacing: 0.08rem;
}

.Home .main-btn:hover {
    background: rgb(127, 191, 179);
    box-shadow: 0px 5px 18px 0px rgba(253, 103, 106, 0.50);
}
.Home .home-illustration {
    width: clamp(280px, 80%, 600px);
    /* transform: scaleX(-1); */
}