.AddVacation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddVacation .light-bg {
    background-color: #FFFEF5;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.AddVacation>h2 {
    color: #88C8BC;
    text-align: center;
    font-family: Shrikhand;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.AddVacation form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: clamp(300px, 80%, 500px);
    padding: 20px;
    gap: 20px;
}

.AddVacation span {
    color: #FBAFAF;
    text-align: center;
    font-family: Shrikhand;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem;
}

.AddVacation input,
.AddVacation input::placeholder,
.AddVacation textarea,
.AddVacation textarea::placeholder {
    border-radius: 0.625rem;
    background: #FFEADE;
    border: none;
    display: flex;
    height: 30px;
    padding: 0.9375rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    color: #FBAFAF;
    font-family: "Roboto Condensed";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.AddVacation input,
.AddVacation textarea {
    color: #5E2626;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AddVacation form>input:first-of-type {
    font-family: Shrikhand;
    font-size: 1.5rem;
}

.AddVacation .dates-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.AddVacation .dates-inputs>input {
    width: 100%;
    gap: 0;
}

.AddVacation textarea {
    height: 240px;
}

.AddVacation .btns-flex {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 50px;
}

.AddVacation .btns-flex :last-child {
    background-color: #FD8A8B;
}

.AddVacation button {
    padding: 0.3125rem 1.25rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3.75rem;
    background: #88C8BC;
    box-shadow: 0px 5px 12px 0px rgba(253, 103, 106, 0.50);
    color: #FFF;
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
    letter-spacing: 0.0225rem;
    width: 190px;
}

.AddVacation .image-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 10px 40px;
    color: #FBAFAF;
    margin-bottom: 20px;
}


/* ------------------------------------------ */
/* upload image elements: */

.AddVacation .upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

.AddVacation .tn-preview {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddVacation .img-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
    object-fit: cover;

}

.AddVacation .tn-preview .change-btn {
    z-index: 2;
    display: inline-flex;
    padding: 0.25rem 0.625rem;
    align-items: center;
    gap: 0.375rem;
    border-radius: 1.25rem;
    background: rgba(0, 0, 0, 0.50);
    color: white;
}

.AddVacation .image-thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 8rem;
    box-sizing: border-box;
    border: 8px solid #FFF;
    background: #FFEADE;
    box-shadow: 0px 5px 12px 0px rgba(253, 103, 106, 0.50);
    color: #FBAFAF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.AddVacation .image-thumbnail button {
    display: flex;
    padding: 0.25rem 0.625rem;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border-radius: 1.25rem;
    background: rgba(253, 138, 139, 0.20);
    box-shadow: none;
    color: #FBAFAF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 100px;
}

.AddVacation .image-thumbnail button img {
    width: 16px;
    height: 16px;
}

@media (min-width: 500px) {
    .AddVacation .btns-flex {
        flex-direction: row;
    }
}