.VacationsList>h2 {
    color: #88C8BC;
    text-align: center;
    font-family: Shrikhand;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.VacationsList .cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px 0px;
    margin-bottom: 30px;
    margin-inline: auto;
    max-width: 1100px;
    padding: clamp(0px, 1%, 40px);
}

.VacationsList .add-btn {
    margin: 10px 0 20px 0;
    max-height: 3.125rem;
    width: 240px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #88C8BC;
    box-shadow: 0px 4px 14px 0px rgba(253, 138, 139, 0.70);
    color: #FFFEF5;
    text-decoration: none;
    text-align: center;
    font-family: Shrikhand;
    font-size: clamp(0.6rem, 1.2rem, 1.375rem);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06875rem;
}

.VacationsList .add-btn img {
    max-width: 32px;
    max-height: 32px;
}

.VacationsList .loader {
    width: 180px;
    margin-inline: auto;
    margin-top: 50px;
}

.VacationsList .empty-filter {
    color: #FBAFAF;
    text-align: center;
    font-family: Shrikhand;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}