

.NotLoggedInPopup {
    position: absolute;
    top: 150px;
    display: flex;
    width: 20.3125rem;
    padding: 1.25rem 1em;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    border-radius: 0.625rem;
    background: #FFFEF5;
    box-shadow: 0px 5px 12px 0px rgba(253, 103, 106, 0.50);
    border: none;
    margin-top: 0;
}

.background {
    position: fixed;
    top: 0;
    background-color: rgba(253, 103, 106, 0.50);
    width: 100%;
    height: 100%;
}


.NotLoggedInPopup p {
    color: #88C8BC;
    text-align: center;
    font-family: Shrikhand;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem;
    /* 137.5% */
}

.NotLoggedInPopup .close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
}

.NotLoggedInPopup button {
    display: flex;
    width: 190px;
    padding: 0.3125rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.75rem;
    background: #88C8BC;
    box-shadow: 0px 5px 12px 0px rgba(253, 103, 106, 0.50);
    border: none;

    color: #FFF;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
    letter-spacing: 0.0225rem;
}

.NotLoggedInPopup .btns-flex {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


.NotLoggedInPopup a {
    display: flex;
    padding: 0.25rem 1.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #FDF6CD;
    border: none;
    color: #88C8BC;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}