.FilterSelector .filter-flex {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: #FEEDD9;
    margin-inline: auto;
    padding: 0 6px;
    border-radius: 4px;
    width: clamp(200px, 90%, 400px);
}

.FilterSelector .select-bar {
    width: clamp(200px, 80%, 400px);
}