.FilterSelector .filter-flex {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    background-color: #FEEDD9;
    width: 22rem;
    margin: 0 auto;
    padding: 0 6px;
    border-radius: 4px;
}

.FilterSelector .select-bar {
    width: 20rem;
}