.FilterSelector .filter-flex {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.FilterSelector .select-bar {
    width: 20rem;
}

.FilterSelector .custom-select option {
    color: #9D3B3B;
    text-align: left;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 129%;
}