.PageNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #FFFBE4 0%, #FFC2C2 100%);
    gap: 20px;
    margin-bottom: 0;
}

.PageNotFound .typo {
    margin-top: 110px;
}

.PageNotFound h1 {
    color: #FD8A8B;
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 9.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 50%;
    margin: 0;
}


.PageNotFound h2 {
    color: #FD8A8B;
    text-align: center;
    font-family: Shrikhand;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.PageNotFound button {
    border-radius: 1.875rem;
    background: #FFFAD9;
    border: none;
    color: #88C8BC;
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    display: inline-flex;
    padding: 0.25rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}


.PageNotFound img {
    scale: 0.5;
    object-fit: cover;
    bottom: 0;
}