

.UpdateVacation form {
	display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

}

.UpdateVacation input {
    height: 40px;
    
}
.UpdateVacation .dates-inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width:max-content;
}

.UpdateVacation textarea {
    height: 200px;

}

.UpdateVacation button {
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #88C8BC;
    color: #FFFCE4;
    font-size: 1rem;
    font-weight: 900;
}

.UpdateVacation .image-upload img {
    width: 100px;
    height: 60px;
    object-fit: contain;
}