.Layout,
.Layout>* {
    margin: 0;
    padding: 0;
}

.Layout {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Layout main {
    flex: 1;

}

.Layout menu {
    margin-top: 90px;
}

.Layout header {
    position: fixed;
    z-index: 1;
    width: 100%;
}