.PagesNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px auto;
}

.PagesNavbar button {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: rgba(251, 175, 175, 0.20);
    cursor: pointer;
}

.PagesNavbar button:hover {
    background: rgba(255, 213, 189, 0.4);
}

.PagesNavbar .right {
    scale: -100%;
}

.PagesNavbar p {
    color: #9D3B3B;
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 129%;
}